

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #e9ecef;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    /* background: #f2f6f9; */
    margin-top: 60px;
    margin-bottom: 60px;
}
.password-container {
    position: relative;
}
.password-eye {
    color: blue;
    right: 6%;
    font-size: 24px;
    /* background: radial-gradient(#625a5a, transparent); */
    transform: translate(0%, 50);
    top: 40%;
    position: absolute;
}
.form-container {
    width: 80%;
}
.button-container {
    padding-top: 20px;

}
.login-wrapper {
    margin-top: 100px;
}

button.btn.btn-dark.btn-lg.btn-block.w-100 {
    background-color: #8128d9;
    color: white;
}
@media only screen and(max-width: 600px) {}
@media only screen and(max-width: 600px) {
    .container {
        padding: 0;
        margin: 0;

    }
    .button-container {

        padding-top: 0;

    }
}
input#phoneNumberInput {
    border: none;
    outline: none;
}
